<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Aesthetic Bakery</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/home']">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['/faq']">FAQ</a>
        </li>


      </ul>
      <ul class="navbar-nav me-right">

      </ul>
    </div>
  </div>


</nav>

<div style="background-color: #edf5f0">
<div >
    <img src="./assets/image/homebanner1.jpg" style="width:100%; ">
  </div>
<br>

  <br>

  <div class="container"  style="text-align: center;">
    <h1  style="text-align: center;" style="font-size: 30px;" ><b>About Us</b> </h1>
  </div>
<br>
  <div class="container" style="background-color: #edf5f0">
    <table class="table table-bordered" >

      <tr>
        <td style="width: 33%;">
          <div class="caption">
            <h3 style="text-align: center;"><strong><u>Welcome To Our Bakery</u> </strong></h3><br>
            <p style="text-align: justify;" >Aesthetic Bakery specializes in the manufacture, supply & distribution and retail of baking
              ingredients, premixes, accessories and tools.
              We are passionate about what we do, we produce
              our own baking products under the brand Aesthetic bakery
              and in-house brands such as Butteria, Butterich,
              Cottura, Good Earth and Mama Lena in accordance with
              the HACCP Based Food Safety System and MeSTI and over
              300 of our products are HALAL certified by JAKIM.
<br><br>
              At the same time we continuously searching for
              new and innovative products around the world to bring
              the best in quality at affordable prices to cater to home
              baking enthusiasts, professional chefs and food businesses.</p>
          </div>
        </td>
        <td style="width: 33%; " >
          <div class="caption">
            <h3 style="text-align: center;"><strong><u>Bakeries & Hours</u> </strong></h3><br><br>
            <p style="text-align: justify;" >
              Aesthetic Bakery,<br>
              PTD 64888, 15KM Jalan Skudai,<br>
              P.O.Box No. 76,<br>
              81300 Skudai, Johor. <br>
            </p>
            <h5>9.00AM - 6.00PM <br>
              Monday - Saturday</h5>
              <br><br><br><br><br><br><br><br><br>
          </div>
        </td>

        <td style="width: 33%;" >
          <div class="caption">
            <h3 style="text-align: center;"><strong><u>Contant Us</u> </strong></h3><br><br>
<h5  style="text-align: justify;" > <b>Get in touch via...</b> <br><br>Email:</h5>
<p style="text-align: justify;" > <a href="mailto: alibrary9@gmail.com" > Aesthetic@gmail.com</a> </p>
<h5 style="text-align: justify;" >Telephone:<br></h5>
<p style="text-align: justify;" >010-2395738</p>
<h5 style="text-align: justify;" >You can also contact us by our social media:</h5>
&nbsp;
<div class="center-block" ><a href="https://www.facebook.com/eatcaketoday" class="fa fa-facebook"></a>
&nbsp;
<a href="https://www.pinterest.com/eatcaketoday/" class="fa fa-pinterest"></a>
&nbsp;
<a href="https://www.instagram.com/eatcaketoday/" class="fa fa-instagram"></a></div>
              </div>

              <br><br>
        </td>
      </tr>

    </table>
  </div>

  <div class="container"  style="text-align: center;">
    <h1  style="text-align: center;" style="font-size: 30px;" ><b>Our Team</b> </h1>
    <br>
  </div>

  <div class="container" style="background-color: #edf5f0">

    <table class="table table-bordered" >

      <tr>
        <td style="width: 33%; " >
          <div class="container" style="display: flex; justify-content: center;">
            <img src="./assets/image/afifa.jpg" alt="Afifa" style="width: 40%;">
          </div>
          <div class="container" style="display: flex; justify-content: center;">
            <h4 style="text-align: center;"><strong>AFIFA</strong></h4><br><br>
          </div>
        </td>
        <td style="width: 33%; " >
          <div class="container" style="display: flex; justify-content: center;">
            <img src="./assets/image/nab.jpeg" alt="Nab" style="width: 40%;">
          </div>
          <div class="container" style="display: flex; justify-content: center;">
            <h4 style="text-align: center;"><strong>NABILAH</strong></h4><br><br>
          </div>
        </td>
        <td style="width: 33%; " >
          <div class="container" style="display: flex; justify-content: center;">
            <img src="./assets/image/afifa.jpg" alt="Alisya" style="width: 40%;">
          </div>
          <div class="container" style="display: flex; justify-content: center;">
            <h4 style="text-align: center;"><strong>ALISYA</strong></h4><br><br>
          </div>
        </td>
      </tr>

    </table>

  </div>

  <footer>
    Copyright © 2022 by Aesthetic Bakery Cakes & Café Sdn Bhd. All Rights Reserved.
  </footer>
</div>






